<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>249181757153-k121d57r7vrjpmf0golm1i59jh1tvtop.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC47XQBJYQ5_A0FrCuiy2HoktfGmTwdpCc</string>
	<key>GCM_SENDER_ID</key>
	<string>249181757153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nouvelAir</string>
	<key>PROJECT_ID</key>
	<string>nouvel-air-bb938</string>
	<key>STORAGE_BUCKET</key>
	<string>nouvel-air-bb938.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249181757153:ios:766a3373a76af39a6ca1a0</string>
</dict>
</plist>